# This is an example .env file for the backend. Copy this file to .env and fill in the values as needed.

# Port number for the backend server
PORT=port_number_here

# node environment (development, production, etc.)
NODE_ENV=environment_here

# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/db_name

# Alternatif:
# ===== PostgreSQL Database =====
DB_HOST=localhost
DB_PORT=port_number_here
DB_USER=user_here
DB_PASSWORD=password_here
DB_NAME=db_name_here

# API key https://console.anthropic.com
ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxxxxx

# Change to the frontend URL (React Vite default)
ALLOWED_ORIGIN=http://localhost:5173

# JWT secret key for signing tokens
JWT_SECRET=your_jwt_secret_here